.overlay {
  display:none;
}

.overlay.active {        
  display: block;
} 

.overlay-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: block;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background-color:rgba(0,0,0,0.6);
}

.overlay-content {

}

.overlay-content {
  position: fixed;
  z-index: 999999;
  top: 50%;
  left: 50%;
  background-color: white;
  border: 1px solid rgb(94, 94, 94);
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);

  cursor: pointer;
  padding: 5;
  width: 285px;
  height: 100px;    
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s; 
  -o-transition: opacity 1s;
  transition: opacity 1s;        
} 
