.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
  background-color: #027FF4;
  border-color: #027FF4;
}

.pagination a {
    cursor: pointer;
}