<div class="container">
    <div class="row" *ngIf="customer && customer.orders">
        <h4>Orders for {{ customer.firstName | capitalize }} {{ customer.lastName | capitalize }}</h4>
        <br />
        <table class="table table-striped table-hover orders-table">
            <tr *ngFor="let order of customer.orders;trackBy:ordersTrackBy">
                <td>{{ order.productName }}</td>
                <td class="text-right">{{ order.itemCost | currency:'USD':'symbol' }}</td>    
            </tr>
            <tr class="summary-border">
                <td>&nbsp;</td>
                <td class="text-right">{{ customer.orderTotal | currency:'USD':'symbol' }}</td>
            </tr>
        </table>
    </div>
    <div *ngIf="customer && !customer.orders" class="row">
        No orders found
    </div> 
    <div *ngIf="!customer" class="row">
        No customer found
    </div>  
</div>