<div *ngIf="customer">
  <div class="row">
    <div class="col-md-1">
      <img src="images/{{customer.gender | lowercase}}.png" class="card-image" />
    </div>
    <div class="col-md-11">
      <h4>    
          {{ customer.firstName | capitalize }} {{ customer.lastName | capitalize }}&nbsp;          
      </h4>
      <br />
      {{ customer.address }}
      <br />
      {{ customer.city }}, {{ customer.state.name }}
    </div>
  </div>    
  <br />
  <div class="row">
    <div class="col-md-12">
      <map [latitude]="customer.latitude" 
           [longitude]="customer.longitude" 
           [zoom]="10" 
           [enabled]="mapEnabled"
           [markerText]="'<h3>' + customer.firstName + ' ' + customer.lastName + '</h3>' + customer.city + ', ' + customer.state.name"></map>
    </div>
  </div>
</div>   
<div *ngIf="!customer" class="row">
   No customer found
</div>  