<div class="customers view indent">
    <div class="container">
        <header>
            <h3>
                <span class="glyphicon glyphicon-user"></span>
                {{ title }}
            </h3>
        </header>
        <div class="row">
            <div class="col-md-10">
                <div class="navbar">
                    <ul class="nav navbar-nav">
                        <li class="toolbar-item">
                            <a (click)="changeDisplayMode('Card')" [class.active]="!listDisplayModeEnabled">
                                <span class="glyphicon glyphicon-th-large"></span> Card View
                            </a>
                        </li>
                        <li class="toolbar-item">
                            <a (click)="changeDisplayMode('List')" [class.active]="listDisplayModeEnabled" class=">
                                <span class="glyphicon glyphicon-align-justify"></span> List View
                            </a>
                        </li>
                    </ul>
                    <filter-textbox [text]="filterText" class="navbar-right"
                     (changed)="filterChanged($event)"></filter-textbox>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row card-container" [hidden]="listDisplayModeEnabled">
                <div class="col-sm-6 col-md-4 col-lg-3" *ng-for="#customer of filteredCustomers">
                    <div class="card">
                        <!--<button class="btn close card-close" title="Delete Customer" (click)="deleteCustomer(customer.id)">&times;</button>-->
                        <div class="card-header">
                            <a [router-link]="['/Orders',{id:customer.id}]" class="white">{{customer.firstName | capitalize }} {{ customer.lastName | capitalize }} 
                                <i class="icon-edit icon-white editIcon"></i></a>
                        </div>
                        <div class="card-body">
                            <div class="clearfix">
                                <div class="pull-left card-body-left">
                                    <a href="#" class="white">
                                        <img src="images/{{customer.gender | lowercase}}.png" class="card-image" />
                                    </a>
                                </div>
                                <div class="pull-left card-body-right">
                                    <div class="card-body-content">{{customer.city}}, {{customer.state.name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div [hidden]="filteredCustomers.length">
                    No Records Found
                </div>
            </div>
            <div class="row grid-container" [hidden]="!listDisplayModeEnabled">
                <div class="col-md-10">
                    <div class="table">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th sort-by="firstName" (sorted)="sort($event)">First Name</th>
                                    <th sort-by="lastName" (sorted)="sort($event)">Last Name</th>
                                    <th sort-by="address" (sorted)="sort($event)">Address</th>
                                    <th sort-by="city" (sorted)="sort($event)">City</th>
                                    <th sort-by="state.name" (sorted)="sort($event)">State</th>
                                    <!-- Or you can do this directly rather than using sort-by directive -->
                                    <th (click)="sort('orderTotal')">Order Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ng-for="#customer of filteredCustomers">
                                    <td><img src="images/{{ customer.gender | lowercase }}.png" 
                                             class="card-image" alt="Customer Image" /></td>
                                    <td><a [router-link]="['/Orders',{id:customer.id}]">{{ customer.firstName | capitalize }}</a></td>
                                    <td>{{ customer.lastName | capitalize }}</td>
                                    <td>{{ customer.address }}</td>
                                    <td>{{ customer.city }}</td>
                                    <td>{{ customer.state.name }}</td>
                                    <td>{{ customer.orderTotal | currency:'USD':true }}</td>
                                </tr>
                                <tr [hidden]="filteredCustomers.length">
                                    <td>&nbsp;</td>
                                    <td colspan="4">No Records Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>